*.ipynb

# Jupyter notebooks
notebooks/*.ipynb
notebooks/*.py
notebooks/*.csv
notebooks/*.xyz

.ipynb_checkpoints

# tests
project/tests/*.xyz
docs/figures/*

# IPython
.ipython/profile_default/history.sqlite
.ipython/profile_default/startup/README

# pyenv
.python-version

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

project/__pycache__/


# others
docs/*.pptx
